---
// src/pages/index.astro
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/sections/Hero.astro";
---

<BaseLayout>
  <main class="relative z-10 animate-fade-up">
    <Hero />
  </main>
</BaseLayout>
