---
// src/pages/services.astro
import BaseLayout from "../layouts/BaseLayout.astro";
import ServicesSection from "../components/sections/Services.astro";
---

<BaseLayout>
  <main class="relative z-10">
    <ServicesSection />
  </main>
</BaseLayout>
